# Objectif

Récuperer le fichier:
`https://github.com/VPerrollaz/immobilier/blob/master/donnees/brute.json`

puis transformer le en un dataset permettant de faire de l'apprentissage.

# Récupération fichier

In [1]:
from requests import get

In [2]:
ADRESSE = "https://raw.githubusercontent.com/VPerrollaz/immobilier/master/donnees/brute.json"

In [3]:
requete = get(ADRESSE)
requete.status_code

200

In [4]:
requete.reason

'OK'

In [5]:
contenu = requete.text

In [6]:
type(contenu)

str

In [7]:
contenu[:1000]

'{"id": "annonce-138905473-376235", "genre": "Appartement", "prix": "374 400 \\u20ac", "pcs": "3 p 2 ch 90 m\\u00b2", "desc": "Appartement type 3 - TOURS CATH\\u00c9DRALE TOURS CATH\\u00c9DRALE: Ravissant appartement type 3 d\'environ 90 m\\u00b2 dans r\\u00e9sidence de standing (~50 lots) avec cave et parking. Entr\\u00e9e,...\\n\\u00c7a m\'int\\u00e9resse", "lien": "https://www.seloger.com/annonces/achat/appartement/tours-37/cathedrale/138905473.htm"}\n{"id": "annonce-140620177-376235", "genre": "Appartement", "prix": "499 200 \\u20ac", "pcs": "5 p 4 ch 146,27 m\\u00b2", "desc": "TOURS HYPERCENTRE - Appartement TOURS HYPERCENTRE: Superbe appartement de 146,37 m\\u00b2 (LOI CARREZ) dans un immeuble de caract\\u00e8re avec ascenseur. Entr\\u00e9e, s\\u00e9jour SUD, vaste...\\n\\u00c7a m\'int\\u00e9resse", "lien": "https://www.seloger.com/annonces/achat/appartement/tours-37/centre/140620177.htm"}\n{"id": "annonce-140620179-376235", "genre": "Appartement", "prix": "499 200 \\u20ac", "pcs": "5 p 3 ch 110 m\\u00b2",'

In [8]:
contenu[-1000:]

'es avec jardin ou appartements du 2 au 3 pi\\u00e8ces: faites votre choix - Exceptionnel: une cuisine Blanchet d\'Huismes am\\u00e9nag\\u00e9e et install\\u00e9e dans...\\n\\u00c7a m\'int\\u00e9resse", "lien": "https://www.selogerneuf.com/annonces/achat/maison/tours-37/138636083/#?cmp=INTSL_ListToDetail"}\n{"id": "annonce-137873909-139524", "genre": "Boutique", "prix": "195 000 \\u20ac", "pcs": "173 m\\u00b2", "desc": "Place Saint \\u00c9loi, Local commercial de 173m\\u00b2 avec acc\\u00e8s PMR. Il comprend des espaces bureaux en rez-de-chauss\\u00e9e de 92m\\u00b2 environ et 79m\\u00b2 \\u00e0 l\'\\u00e9tage. Belle fa\\u00e7ade.\\n\\u00c7a m\'int\\u00e9resse", "lien": "https://www.seloger.com/annonces/achat/boutique/tours-37/137873909.htm"}\n{"id": "annonce-136457803-733454", "genre": "Parking", "prix": "15 000 \\u20ac", "pcs": "13 m\\u00b2", "desc": "GRAMMONT.PLACE DE LA LIBERT\\u00c9. Garage en sous-sol.\\n\\u00c7a m\'int\\u00e9resse", "lien": "https://www.seloger.com/annonces/achat/parking/tours-37/136457803.htm"}\n'

# Décodage du json

Délicat car construction à la main sans librairie de sérialisation (i.e. `pyserde`)!

In [9]:
import json

In [10]:
json.loads(contenu)

JSONDecodeError: Extra data: line 2 column 1 (char 445)

In [11]:
contenu[440:450]

'tm"}\n{"id"'

In [12]:
print(contenu[:450])

{"id": "annonce-138905473-376235", "genre": "Appartement", "prix": "374 400 \u20ac", "pcs": "3 p 2 ch 90 m\u00b2", "desc": "Appartement type 3 - TOURS CATH\u00c9DRALE TOURS CATH\u00c9DRALE: Ravissant appartement type 3 d'environ 90 m\u00b2 dans r\u00e9sidence de standing (~50 lots) avec cave et parking. Entr\u00e9e,...\n\u00c7a m'int\u00e9resse", "lien": "https://www.seloger.com/annonces/achat/appartement/tours-37/cathedrale/138905473.htm"}
{"id"

On voit qu'on a juste une juxtaposition d'annonces représentées par des dictionnaires.
Il faut rajouter les virgules et les crochets pour transformer le contenu en une liste de dictionnaires.

**REMARQUE** le `\\u00b2` représente 6 caractères alors que `\u00b2` représente un caractère via sa numérotation unicode!

In [13]:
print("\\u00b2")

\u00b2

In [14]:
print("\u00b2")

²

In [15]:
annonces = json.loads("[" + contenu[:-1].replace("\n", ",") + "]")

In [16]:
type(annonces)

list

In [17]:
type(annonces[0])

dict

In [18]:
annonces[0]

{'id': 'annonce-138905473-376235',
 'genre': 'Appartement',
 'prix': '374 400 €',
 'pcs': '3 p 2 ch 90 m²',
 'desc': "Appartement type 3 - TOURS CATHÉDRALE TOURS CATHÉDRALE: Ravissant appartement type 3 d'environ 90 m² dans résidence de standing (~50 lots) avec cave et parking. Entrée,...\nÇa m'intéresse",
 'lien': 'https://www.seloger.com/annonces/achat/appartement/tours-37/cathedrale/138905473.htm'}

In [19]:
len(annonces)

1818

# Extraire l'information pertinente des colonnes

e.g. 
- id (str), 
- genre (catégorie), 
- prix (int), 
- surface (int), 
- pieces (int), 
- neuf (bool), 
- quartier (categorie?)
- ?

In [20]:
import pandas as pd

In [42]:
df = pd.DataFrame(annonces)

In [43]:
df.describe()

,id,genre,prix,pcs,desc,lien
count,1818,1818,1818,1818,1818,1818
unique,1798,16,1152,1140,1591,1798
top,annonce-140014391-548829,Appartement,155 000 €,3 p 2 ch 65 m²,"Livraison: Octobre 2020 - Rare, plein centre d...",https://www.seloger.com/annonces/investissemen...
freq,2,1041,11,30,19,2

In [44]:
df.head()

,id,genre,prix,pcs,desc,lien
0,annonce-138905473-376235,Appartement,374 400 €,3 p 2 ch 90 m²,Appartement type 3 - TOURS CATHÉDRALE TOURS CA...,https://www.seloger.com/annonces/achat/apparte...
1,annonce-140620177-376235,Appartement,499 200 €,"5 p 4 ch 146,27 m²",TOURS HYPERCENTRE - Appartement TOURS HYPERCEN...,https://www.seloger.com/annonces/achat/apparte...
2,annonce-140620179-376235,Appartement,499 200 €,5 p 3 ch 110 m²,TOURS PRÉBENDES NORD - APPARTEMENT TOURS PRÉBE...,https://www.seloger.com/annonces/achat/apparte...
3,annonce-133494153-376235,Maison / Villa,508 000 €,6 p 4 ch 132 m²,TOURS PRÉBENDES - PARTICULIER TOURANGEAUX TOUR...,https://www.seloger.com/annonces/achat/maison/...
4,annonce-137425993-376235,Maison / Villa,676 000 €,7 p 5 ch 185 m²,TOURS STRASBOURG / RABELAIS - Maison TOURS STR...,https://www.seloger.com/annonces/achat-de-pres...

In [45]:
df.dtypes

id       object
genre    object
prix     object
pcs      object
desc     object
lien     object
dtype: object

## Appartement/Maison

In [46]:
df.genre.unique()

array(['Appartement', 'Maison / Villa', 'Appartement neuf',
       'Projet de construction', 'Maison / Villa neuve', 'Bâtiment',
       'Parking', 'Bureau', 'Local commercial', 'Immeuble', 'Boutique',
       'Terrain', 'Divers', 'Loft/Atelier/Surface', 'Château',
       'Hôtel particulier'], dtype=object)

In [47]:
equivalent_appartements = {'Appartement', 'Appartement neuf'}
equivalent_maisons = {'Maison / Villa', 'Maison / Villa neuve', 'Château', 'Hôtel particulier'}

In [48]:
df["appartement"] = df.eval("genre in @equivalent_appartements")

In [49]:
df["maison"] = df.eval("genre in @equivalent_maisons")

In [50]:
df["a_supprimer"] = df.eval("not (maison | appartement)")

In [51]:
df.describe()

,id,genre,prix,pcs,desc,lien,appartement,maison,a_supprimer
count,1818,1818,1818,1818,1818,1818,1818,1818,1818
unique,1798,16,1152,1140,1591,1798,2,2,2
top,annonce-140014391-548829,Appartement,155 000 €,3 p 2 ch 65 m²,"Livraison: Octobre 2020 - Rare, plein centre d...",https://www.seloger.com/annonces/investissemen...,True,False,False
freq,2,1041,11,30,19,2,1253,1406,1665

## Neuf / Ancien

In [52]:
equivalent_neufs = {'Appartement neuf', 'Maison / Villa neuve'}
df["neuf"] = df.eval("genre in @equivalent_neufs")

## Prix

In [53]:
masque = df["prix"].str.replace("€", "").str.replace(" ", "").str.replace("HT", "").str.replace("HH", "").str.isdecimal()

In [54]:
df["prix"].loc[masque == False]

843    €
Name: prix, dtype: object

In [55]:
df.drop(843, inplace=True)

In [61]:
df["prix_nettoye"] = (
    df["prix"]
    .str.replace("€", "")
    .str.replace(" ", "")
    .str.replace("HT", "")
    .str.replace("HH", "")
    .astype(int)
)

In [57]:
df.columns

Index(['id', 'genre', 'prix', 'pcs', 'desc', 'lien', 'appartement', 'maison',
       'a_supprimer', 'neuf', 'prix_nettoye'],
      dtype='object')

In [58]:
df.dtypes

id              object
genre           object
prix            object
pcs             object
desc            object
lien            object
appartement       bool
maison            bool
a_supprimer       bool
neuf              bool
prix_nettoye     int32
dtype: object

## Nombre de pièces

In [60]:
df.pcs.sample(n=20)

1575    1 p 30,83 m² 1 tess
1638         4 p 2 ch 83 m²
85         5 p 3 ch 88,2 m²
1579      3 p 2 ch 73,21 m²
805          4 p 3 ch 82 m²
681          4 p 3 ch 76 m²
618        2 p 1 ch 43,1 m²
236          3 p 2 ch 78 m²
97          8 p 4 ch 310 m²
1734       4 p 3 ch 74,2 m²
44          5 p 3 ch 110 m²
1386        7 p 6 ch 199 m²
991          4 p 2 ch 73 m²
1574        1 p 29 m² 5 etg
257       2 p 1 ch 48,87 m²
1008         3 p 2 ch 73 m²
279       4 p 3 ch 77,92 m²
1319        6 p 4 ch 170 m²
388         7 p 6 ch 182 m²
841        4 p 96 m² 1 park
Name: pcs, dtype: object

### Elaboration d'un motif

In [63]:
import re

In [129]:
motif1 = re.compile("([1-9][0-9]*)\\s*p\\s*([1-9][0-9]*)?\\s*c?h?\\s*([1-9][0-9]*),?([0-9]+)?\\s*m².*")

In [130]:
motif1.match("4 p 3 ch 77,92 m²")

In [131]:
motif1.match("4 p 3 ch 77,92 m²").groups()

('4', '3', '77', '92')

In [132]:
motif1.match("7 p 6 ch 199 m²")

In [133]:
motif1.match("7 p 6 ch 199 m²").groups()

('7', '6', '199', None)

In [134]:
motif1.match("2 p 39,89 m² 1 asc")

In [135]:
df.pcs.str.match(motif1).value_counts()

True     1667
False     150
Name: pcs, dtype: int64

In [136]:
df.pcs.str.match(motif1)[df.a_supprimer].value_counts()

False    143
True      10
Name: pcs, dtype: int64

In [137]:
masque = ~df.a_supprimer & ~df.pcs.str.match(motif1)

In [139]:
df.pcs[masque]

430    2 p 1 ch 1 etg
434    4 p 3 ch 1 etg
436          9 p 4 ch
511               2 p
616    3 p 1 ch 1 asc
617    4 p 3 ch 3 etg
619         1 p 3 etg
Name: pcs, dtype: object

In [143]:
df["a_supprimer"] = df["a_supprimer"] | masque

### Extraction des données

In [146]:
groupes = df.pcs.str.extract(motif1)

In [152]:
groupes.head()

   0  1    2    3
0  3  2   90  NaN
1  5  4  146   27
2  5  3  110  NaN
3  6  4  132  NaN
4  7  5  185  NaN

In [149]:
df["nombre_pieces"] = groupes[0].astype(float)

In [153]:
df["surface"] = groupes[2].astype(float)

## Elimination des entrée inutiles

In [162]:
df.columns

Index(['id', 'genre', 'prix', 'pcs', 'desc', 'lien', 'appartement', 'maison',
       'a_supprimer', 'neuf', 'prix_nettoye', 'nombre_pieces', 'surface'],
      dtype='object')

In [211]:
filtre = (
    df
    .query("not a_supprimer")
    .drop(columns=["genre", "prix", "pcs", "a_supprimer"])
    .drop_duplicates()
    .drop(columns="id")
)

# Exploitation de la colonne lien

In [212]:
filtre.columns

Index(['desc', 'lien', 'appartement', 'maison', 'neuf', 'prix_nettoye',
       'nombre_pieces', 'surface'],
      dtype='object')

In [213]:
filtre["lien"] = (
    filtre.lien
    .str.replace("https://www.seloger.com/annonces/", "")
    .str.replace("https://www.selogerneuf.com/annonces/", "")
)

In [214]:
filtre.lien.str.split("/")

0       [achat, appartement, tours-37, cathedrale, 138...
1       [achat, appartement, tours-37, centre, 1406201...
2       [achat, appartement, tours-37, centre, 1406201...
3        [achat, maison, tours-37, centre, 133494153.htm]
4       [achat-de-prestige, maison, tours-37, centre, ...
                              ...
1807    [achat, appartement, tours-37, 134769693, #?cm...
1812        [achat, appartement, tours-37, 123293873.htm]
1813        [achat, appartement, tours-37, 141342739.htm]
1814    [achat, maison, tours-37, 137994967, #?cmp=INT...
1815    [achat, maison, tours-37, 138636083, #?cmp=INT...
Name: lien, Length: 1643, dtype: object

In [215]:
filtre.lien.str.split("/").apply(len)

0       5
1       5
2       5
3       5
4       5
       ..
1807    5
1812    4
1813    4
1814    5
1815    5
Name: lien, Length: 1643, dtype: int64

In [216]:
filtre.lien.str.split("/").apply(lambda ls: ls[0]).value_counts()

achat                1242
investissement        231
achat-de-prestige     115
https:                 55
Name: lien, dtype: int64

In [217]:
compte = filtre.lien.str.split("/").apply(lambda ls: ls[-2]).value_counts()
compte

tours-37            866
saint-symphorien     73
centre               70
grammont             59
europe               36
                   ...
129996783             1
131904129             1
141452757             1
129123079             1
136292397             1
Name: lien, Length: 241, dtype: int64

In [218]:
masque = (compte < 866) & (compte > 1)
masque

tours-37            False
saint-symphorien     True
centre               True
grammont             True
europe               True
                    ...
129996783           False
131904129           False
141452757           False
129123079           False
136292397           False
Name: lien, Length: 241, dtype: bool

In [219]:
masque[masque].index

Index(['saint-symphorien', 'centre', 'grammont', 'europe', 'la-fuye-velpeau',
       'sainte-radegonde', 'les-fontaines', 'montjoyeux', 'rives-du-cher',
       'beaujardin', 'sanitas-rotonde', 'febvotte-marat', 'paul-bert',
       'cathedrale', 'lakanal-strasbourg', 'rabelais-tonnelle',
       'deux-lions-gloriette', 'lamartine', 'rochepinard', 'giraudeau',
       'la-bergeonnerie', 'douets-milletiere'],
      dtype='object')

In [220]:
quartiers = list(masque[masque].index)

In [221]:
quartiers

['saint-symphorien',
 'centre',
 'grammont',
 'europe',
 'la-fuye-velpeau',
 'sainte-radegonde',
 'les-fontaines',
 'montjoyeux',
 'rives-du-cher',
 'beaujardin',
 'sanitas-rotonde',
 'febvotte-marat',
 'paul-bert',
 'cathedrale',
 'lakanal-strasbourg',
 'rabelais-tonnelle',
 'deux-lions-gloriette',
 'lamartine',
 'rochepinard',
 'giraudeau',
 'la-bergeonnerie',
 'douets-milletiere']

In [223]:
def choisit_quartier(lien):
    for quartier in quartiers:
        if quartier in lien:
            return quartier
    return "absence_de_renseignement"

In [224]:
filtre["quartier"] = filtre.lien.apply(choisit_quartier)

In [226]:
filtre.quartier.value_counts()

absence_de_renseignement    1084
saint-symphorien              73
centre                        70
grammont                      59
europe                        36
la-fuye-velpeau               33
sainte-radegonde              32
les-fontaines                 28
montjoyeux                    27
rives-du-cher                 23
beaujardin                    21
sanitas-rotonde               20
paul-bert                     20
febvotte-marat                20
cathedrale                    18
lakanal-strasbourg            14
rabelais-tonnelle             14
deux-lions-gloriette          13
lamartine                     11
rochepinard                   10
giraudeau                      9
douets-milletiere              4
la-bergeonnerie                4
Name: quartier, dtype: int64

# Exploitation de la colonne desc

In [227]:
filtre.sample(20).desc

1676    UN NOUVEAU QUARTIER, UNE NOUVELLE VIE - Idéale...
254     IAD France - Aurélien LE DEAUT vous propose: Q...
1691    Appartement situé au deuxième étage d'une peti...
34      Située à proximité du CHUR et de la faculté de...
413     Un produit remarquable, une adresse idéale, vo...
983     Résidence Bellevue, Avenue de la République à ...
285     IAD France - Alban BRIE vous propose: Dans une...
1721    Tours Nord - Dans résidence de standing, appar...
1256    IAD France - Nicolas BOURIN vous propose: * * ...
341     IAD France - Cecile BUSSONNAIS vous propose: "...
8       TOURS PRÉBENDES NORD - EXCLUSIVITÉ TOURS PRÉBE...
1551    Réf. 1695 Maison de maître 20 kms Tours Belle ...
1504    A vendre Maison / villa TOURS (37000) TOURS, M...
637     Face à la Loire, Panoramic est une résidence é...
1500    Maison/appartement 3 chambres. Superbe restaur...
135     Idéalement situé au coeur de Tours, appartemen...
1777    TOURS HALLES, Au 4e étage avec ascenseur, appa...
809     A deux pas des halles, appartement en duplex s...
724     Au coeur d'un environnement calme, à 8 minutes...
399     TOURS HYPER CENTRE AU PIED DE LA GARE TGV\nAgr...
Name: desc, dtype: object

In [229]:
table = dict()

In [230]:
for c in "éèëêE":
    table[ord(c)] = ord("e")

In [231]:
table

{233: 101, 232: 101, 235: 101, 234: 101, 69: 101}

In [232]:
"éEeëê".translate(table)

'eeeee'

In [234]:
filtre.desc.str.lower().str.translate(table)

0       appartement type 3 - tours cathedrale tours ca...
1       tours hypercentre - appartement tours hypercen...
2       tours prebendes nord - appartement tours prebe...
3       tours prebendes - particulier tourangeaux tour...
4       tours strasbourg / rabelais - maison tours str...
                              ...
1807    maisons de ville 3 chambres avec jardin ou app...
1812    tours - fontaines, appartement de type 2 compr...
1813    tours - appartement de type 3 comprenant sejou...
1814    maisons de ville 3 chambres avec jardin ou app...
1815    maisons de ville 3 chambres avec jardin ou app...
Name: desc, Length: 1643, dtype: object

In [236]:
re.sub("\\W+", " ", "le, - blabla.: ! 123 ()")

'le blabla 123 '

In [239]:
integrale = filtre.desc.str.lower().str.translate(table).str.replace("\\W+", " ").str.cat()

In [240]:
integrale[:100]

'appartement type 3 tours cathedrale tours cathedrale ravissant appartement type 3 d environ 90 m² da'

In [241]:
token = integrale.split(" ")

In [242]:
len(token)

48319

In [243]:
compteur = dict()
for mot in token:
    compteur[mot] = compteur.get(mot, 0) + 1

In [245]:
len(compteur)

2610

In [244]:
compteur

{'appartement': 852,
 'type': 255,
 '3': 265,
 'tours': 832,
 'cathedrale': 39,
 'ravissant': 7,
 'd': 753,
 'environ': 197,
 '90': 11,
 'm²': 616,
 'dans': 532,
 'residence': 449,
 'de': 2651,
 'standing': 86,
 '50': 23,
 'lots': 24,
 'avec': 1024,
 'cave': 75,
 'et': 1128,
 'parking': 64,
 'entree': 392,
 'ça': 1643,
 'm': 1674,
 'interessetours': 331,
 'hypercentre': 4,
 'superbe': 36,
 '146': 1,
 '37': 7,
 'loi': 20,
 'carrez': 30,
 'un': 727,
 'immeuble': 60,
 'caractere': 29,
 'ascenseur': 169,
 'sejour': 344,
 'sud': 136,
 'vaste': 46,
 'prebendes': 81,
 'nord': 229,
 'bel': 149,
 '110': 9,
 'petit': 29,
 '5': 94,
 'terrasse': 100,
 '56': 6,
 '36': 5,
 'particulier': 49,
 'tourangeaux': 4,
 'agreable': 80,
 'maison': 313,
 'particuliere': 9,
 '132': 1,
 'jardin': 121,
 'expose': 67,
 '130': 6,
 'salon': 239,
 'salle': 242,
 'à': 839,
 'manger': 39,
 'strasbourg': 15,
 'rabelais': 24,
 'confortable': 9,
 'recente': 64,
 '185': 1,
 'edifiee': 10,
 'sur': 321,
 'terrain': 30,
 '500': 2,
 'interesseaux': 11,
 'portes': 23,
 'propriete': 38,
 'charme': 35,
 'du': 531,
 'xvii': 4,
 '18eme': 13,
 'siecle': 19,
 '273': 1,
 'parc': 69,
 'aux': 55,
 'belles': 45,
 'essences': 1,
 '1ha25': 1,
 'ce': 139,
 'domaine': 5,
 'est': 147,
 'compose': 127,
 'mairie': 5,
 'hôtel': 19,
 '275': 2,
 '65': 12,
 '120': 9,
 'garage': 58,
 'double': 39,
 'espace': 46,
 'reception': 26,
 'comprenant': 218,
 'interesseexceptionnelle': 1,
 'demeure': 29,
 'bourgeoise': 7,
 '257': 1,
 '1': 81,
 '450': 4,
 'clos': 32,
 'independante': 31,
 'la': 433,
 'principale': 30,
 'composee': 26,
 'une': 1113,
 'belle': 141,
 'exclusivite': 51,
 '330': 5,
 'edifie': 1,
 'parcelle': 5,
 '521': 1,
 '4': 158,
 'garages': 4,
 'interessevente': 5,
 'magnifique': 51,
 '270': 10,
 '2': 328,
 'centrale': 1,
 'enfilade': 7,
 'exceptionnelle': 20,
 '400': 7,
 '19eme': 20,
 'arbore': 27,
 'ha': 7,
 'bois': 5,
 'paysage': 12,
 'spacieuse': 12,
 'centre': 322,
 '125': 4,
 'cuisine': 457,
 'etages': 12,
 'chambres': 203,
 'bureau': 21,
 'velpeau': 48,
 '150': 8,
 'cheminee': 42,
 'amenagee': 151,
 'donnant': 78,
 'jolie': 35,
 '200': 15,
 'piece': 162,
 'vie': 119,
 'traversante': 1,
 'architecte': 15,
 '170': 8,
 'cour': 13,
 'voitures': 3,
 'en': 470,
 'rez': 106,
 'chaussee': 88,
 'studio': 85,
 'conservatoire': 5,
 'directoire': 3,
 'jardinet': 7,
 'vestiaire': 3,
 'ravissante': 9,
 'porche': 3,
 'interessechoisissez': 5,
 'haut': 31,
 'gamme': 28,
 'securisee': 108,
 'beneficiant': 12,
 'architecture': 20,
 'contemporaine': 28,
 'vous': 377,
 'profiterez': 6,
 'grand': 126,
 'confort': 7,
 'ses': 33,
 'chapes': 5,
 'thermo': 5,
 'cluzel': 6,
 't2': 82,
 't3': 98,
 '61': 3,
 '53': 3,
 '62': 10,
 '31': 7,
 't4': 77,
 '75': 9,
 'halles': 73,
 '72': 6,
 '52': 5,
 'ancien': 21,
 '114': 2,
 'veranda': 10,
 '15': 22,
 'interesseprofitez': 10,
 'des': 532,
 'dernieres': 10,
 'opportunites': 10,
 'situation': 19,
 'ville': 178,
 'pour': 201,
 'cet': 225,
 'ensemble': 29,
 'immobilier': 20,
 'coproprietes': 11,
 'onyx': 10,
 '34': 14,
 'beranger': 8,
 '140': 2,
 'petite': 70,
 'copropriete': 90,
 '8': 19,
 'beau': 49,
 '67': 5,
 'equipee': 100,
 'arriere': 14,
 'interesselivraison': 70,
 'decembre': 13,
 '2020': 51,
 'profitez': 30,
 'frais': 9,
 'notaire': 8,
 'offerts': 9,
 'dynamique': 13,
 'innovante': 8,
 'a': 208,
 'heure': 16,
 'paris': 13,
 'tgv': 23,
 'au': 679,
 'coeur': 74,
 'principaux': 12,
 'lingerie': 4,
 'interessesituee': 17,
 'proximite': 153,
 'chur': 11,
 'faculte': 15,
 'medecine': 20,
 'le': 190,
 'saint': 63,
 'vincent': 11,
 'propose': 210,
 '26': 17,
 'appartements': 101,
 'repartis': 11,
 'bâtiments': 12,
 'interessevotre': 13,
 'pieces': 202,
 'partir': 3,
 '112': 3,
 '000': 5,
 'location': 6,
 'accession': 4,
 'livraison': 3,
 's': 13,
 'fevrier': 3,
 '2019': 23,
 '2eme': 48,
 'semestre': 3,
 'decouvrez': 10,
 'les': 119,
 'avantages': 5,
 'disponibilite': 3,
 'immediate': 27,
 'habiter': 8,
 'tva': 3,
 'prix': 11,
 'vente': 24,
 'lieu': 6,
 '20': 33,
 'possibilite': 18,
 'pret': 3,
 'taux': 3,
 'zero': 3,
 'investir': 19,
 'interesseles': 10,
 'neufs': 7,
 'proposent': 9,
 'surfaces': 7,
 'vivre': 82,
 'larges': 7,
 'ouvertures': 8,
 'l': 170,
 'exterieur': 11,
 'prestations': 38,
 'modernes': 7,
 'volets': 10,
 'roulants': 10,
 'electriques': 11,
 'bain': 26,
 'interessevous': 5,
 'souhaitez': 4,
 'installer': 1,
 'ayant': 9,
 'mais': 2,
 'sans': 55,
 'avoir': 2,
 'inconvenients': 2,
 'commerces': 194,
 'ecoles': 83,
 'portee': 1,
 'interesseau': 44,
 'choix': 12,
 'achat': 22,
 'comme': 2,
 'logement': 5,
 'principal': 4,
 'ou': 73,
 'investissement': 25,
 'permettant': 3,
 'beneficier': 2,
 'defiscalisation': 3,
 'seule': 2,
 'collocation': 2,
 'interesseexclusivite': 34,
 'amepi': 2,
 'chez': 16,
 'c2si': 3,
 'quartier': 241,
 'calme': 176,
 'plain': 12,
 'pied': 113,
 '25': 19,
 'accompagnee': 1,
 'revez': 2,
 'etre': 13,
 'coince': 1,
 'mi': 2,
 'chemin': 1,
 'christ': 23,
 'roi': 23,
 'beffroi': 2,
 'pas': 99,
 'demi': 1,
 'tram': 78,
 'qui': 47,
 'conduit': 1,
 'place': 139,
 'jean': 28,
 'interesseravissante': 2,
 'dependance': 2,
 'secteur': 74,
 'peripherie': 3,
 'cette': 103,
 'famille': 13,
 'offre': 89,
 'surface': 29,
 '210': 4,
 'tous': 43,
 'beaux': 30,
 'interessesecteur': 14,
 'ouest': 47,
 'minutes': 78,
 'traversantes': 1,
 'elements': 7,
 'hyper': 48,
 'sous': 41,
 'sol': 45,
 'charmante': 8,
 'ete': 13,
 'elegante': 22,
 'boiseries': 2,
 'symphorien': 21,
 'proche': 243,
 'toutes': 77,
 'commodites': 115,
 'iut': 9,
 'tranport': 1,
 'commun': 18,
 '51': 6,
 '70': 15,
 'interesseen': 14,
 'visiter': 22,
 'absolument': 3,
 'tres': 226,
 'commoditees': 2,
 '24': 3,
 'grande': 80,
 'interessevaste': 1,
 'art': 17,
 'deco': 15,
 'plus': 61,
 '145': 1,
 '79': 5,
 '1er': 56,
 'etage': 290,
 'accueille': 25,
 'm2orientation': 1,
 'deux': 193,
 '3eme': 38,
 'chambre': 89,
 'eau': 75,
 'placard': 53,
 'interessecommercialisation': 9,
 'cours': 26,
 'pavillonnaire': 10,
 'serenite': 10,
 'rares': 9,
 'environnement': 49,
 'villageois': 9,
 'marche': 23,
 'coty': 41,
 'interesserue': 3,
 'edouard': 7,
 'vaillant': 7,
 'beaujardin': 31,
 'bon': 60,
 'etat': 82,
 'placards': 30,
 'separee': 27,
 'bains': 65,
 'interessemaisons': 5,
 'faites': 6,
 'votre': 60,
 'exceptionnel': 19,
 'blanchet': 5,
 'huismes': 5,
 'installee': 5,
 'interesse10': 5,
 'mn': 51,
 'idealement': 70,
 'situee': 78,
 'bourg': 5,
 'ancienne': 17,
 'restauree': 10,
 '198': 1,
 'interesseiad': 115,
 'france': 119,
 'catherine': 3,
 'roger': 5,
 'balades': 2,
 'bus': 59,
 'services': 14,
 '85m²': 4,
 'son': 42,
 '25m²': 2,
 'interessevenez': 16,
 'renovation': 5,
 'elle': 38,
 'ouverte': 89,
 'sainte': 12,
 'radegonde': 21,
 'bords': 3,
 'loire': 34,
 '2005': 3,
 'niveaux': 12,
 'se': 65,
 'interesseideal': 9,
 'investisseur': 31,
 'recent': 13,
 'principales': 12,
 '55': 8,
 'situe': 231,
 '2013': 3,
 'dernier': 87,
 'penthouse': 1,
 '100': 11,
 'exposee': 15,
 'paul': 13,
 'bert': 15,
 '82': 15,
 'atypique': 16,
 'disposant': 4,
 'interesse5': 3,
 'annees': 16,
 '1950': 1,
 '207': 1,
 '43': 4,
 'interesseblanqui': 3,
 'blanqui': 18,
 'mirabeau': 8,
 'local': 6,
 'transformer': 3,
 '74': 2,
 'interessedans': 38,
 'recherche': 41,
 'façade': 3,
 '30': 21,
 'lumineux': 153,
 'heurteloup': 9,
 'ideal': 58,
 'f1': 12,
 'proposant': 7,
 'coin': 16,
 'nuit': 3,
 'kitchenette': 12,
 'interessenos': 10,
 'honoraires': 16,
 'opportunite': 8,
 'saisir': 8,
 'venez': 80,
 'decouvrir': 77,
 '60': 6,
 'parfait': 22,
 'premier': 46,
 '45': 6,
 'vue': 86,
 'degagee': 26,
 'interessedecouvrez': 2,
 'triplex': 6,
 'bien': 102,
 '1994': 1,
 'entretenue': 32,
 'ecole': 13,
 'interessesur': 3,
 'cher': 67,
 'oriente': 12,
 'niveau': 5,
 'privilegie': 23,
 'square': 6,
 'montsoudun': 1,
 'autoroute': 2,
 'a10': 5,
 'courrez': 1,
 'vite': 7,
 'sein': 22,
 'mantegna': 2,
 'tramway': 130,
 'interessea': 175,
 '10': 49,
 'balcon': 146,
 'exposition': 13,
 'nombreux': 16,
 'interessesitue': 14,
 'gardien': 23,
 'poser': 6,
 'vos': 38,
 'valises': 12,
 '88m²': 1,
 'entierement': 65,
 'renove': 51,
 'vis': 47,
 'beneficient': 1,
 'balcons': 7,
 'offrant': 122,
 '64m²': 2,
 'oree': 2,
 'honore': 7,
 'balzac': 12,
 'spacieux': 31,
 'rare': 44,
 'duplex': 39,
 'accueillera': 1,
 'confortablement': 1,
 'toits': 1,
 'sa': 38,
 'privilegiee': 6,
 'eloi': 10,
 'bretonneau': 21,
 'rafraîchir': 7,
 '64': 10,
 'pieds': 22,
 'transports': 99,
 'deuxieme': 13,
 'general': 9,
 '85': 4,
 'f4': 4,
 '76m²': 3,
 'n': 3,
 'am': 1,
 'serez': 17,
 'seduits': 2,
 'par': 65,
 'volumes': 27,
 'interessecoup': 1,
 'assure': 2,
 'traversant': 28,
 'rc': 1,
 'wc': 81,
 'interessequartier': 49,
 'tourangeau': 11,
 'rue': 56,
 'metres': 16,
 'emplacement': 32,
 'unique': 11,
 '40m²': 7,
 'prise': 7,
 '9': 3,
 '215': 1,
 'total': 2,
 '28': 11,
 'independant': 16,
 'interessefort': 1,
 'potentiel': 8,
 '640': 1,
 'vieux': 11,
 'st': 21,
 'pierre': 14,
 'corps': 8,
 'entrepreneur': 2,
 'artisan': 1,
 'commerçant': 2,
 'e': 15,
 'interesse20mns': 1,
 'montbazon': 1,
 'côte': 4,
 'château': 15,
 'artigny': 1,
 '260m²': 2,
 'entoure': 1,
 'refait': 32,
 'neuf': 42,
 'cadre': 29,
 'paisible': 6,
 'verdoyant': 15,
 'jeune': 2,
 'couple': 1,
 'desireux': 1,
 'acquerir': 3,
 'interessecette': 4,
 'beneficie': 8,
 'permet': 1,
 'foncia': 2,
 'service': 5,
 'seniors': 5,
 'bis': 25,
 'faire': 5,
 'entre': 22,
 'grandmont': 26,
 'lions': 43,
 'etudiant': 7,
 'studette': 2,
 '12': 18,
 '73': 10,
 'etudiante': 3,
 'soumis': 5,
 'statut': 5,
 'anas': 1,
 'lamrini': 1,
 't1': 14,
 '32': 13,
 'celine': 6,
 'motte': 2,
 'president': 1,
 'interesseproche': 38,
 'publics': 1,
 'locatif': 19,
 'escem': 2,
 'sites': 1,
 'universitaires': 1,
 'citya': 21,
 'acheter': 4,
 'sgti': 9,
 'tout': 28,
 'febvotte': 18,
 'charmant': 27,
 'chauffage': 10,
 'individuel': 6,
 'gaz': 5,
 'ravalement': 3,
 'verdun': 4,
 'f2': 2,
 'amenage': 10,
 '11': 10,
 'repas': 5,
 'dressing': 21,
 'tranchee': 28,
 'tenue': 1,
 'avis': 1,
 'investisseurs': 15,
 'interessela': 6,
 'fonciere': 3,
 'royale': 3,
 'elysees': 3,
 'gestionnaire': 3,
 'patrimoine': 6,
 'presente': 8,
 'rives': 8,
 '4eme': 20,
 'ideale': 7,
 'safti': 2,
 'assurance': 1,
 'revente': 2,
 'offerte': 3,
 'boise': 15,
 'interessestudio': 6,
 'parfaite': 2,
 '17m²': 1,
 'loue': 35,
 'depuis': 1,
 'hc': 3,
 'soit': 3,
 'interesseà': 7,
 'tarder': 5,
 'primo': 4,
 'accedants': 2,
 'lys': 1,
 'il': 64,
 'orientation': 5,
 'vendre': 160,
 'facultes': 13,
 'desservant': 26,
 'complexe': 1,
 'restaurer': 2,
 'comportant': 3,
 'ainsi': 10,
 'bord': 13,
 '13': 17,
 'interessetres': 10,
 'faibles': 17,
 'charges': 34,
 'interesseolivier': 7,
 'coradazzo': 7,
 'conseiller': 10,
 'dr': 10,
 'house': 10,
 'immo': 13,
 'ecoute': 10,
 'quatrieme': 2,
 'seulement': 13,
 'quelques': 18,
 'charles': 1,
 'gille': 1,
 'troisieme': 6,
 'sophie': 4,
 'naour': 3,
 'triple': 2,
 '35': 4,
 '16': 6,
 'fille': 7,
 'face': 15,
 'piscine': 20,
 'lac': 13,
 'espaces': 9,
 'verts': 8,
 '5mn': 6,
 '40': 28,
 'utile': 2,
 '38': 5,
 'interesseappartement': 54,
 'agence': 47,
 '46': 6,
 'douche': 14,
 '80': 9,
 'habitables': 41,
 'renover': 15,
 'dont': 29,
 'acquisition': 2,
 'disponible': 4,
 'grammont': 50,
 '30m²': 7,
 'interesserives': 2,
 'interesseidealement': 12,
 'orangerie': 5,
 'interessefoncia': 1,
 'special': 4,
 '23m²': 1,
 '2007': 10,
 'actuellement': 14,
 'interessehonore': 4,
 'alexandre': 1,
 'misson': 1,
 'clemence': 1,
 'villemont': 1,
 'arret': 5,
 'gare': 86,
 'anthony': 3,
 'clisson': 3,
 'meme': 1,
 'que': 13,
 'solenne': 5,
 'souchet': 5,
 'habitable': 18,
 'cellier': 22,
 'exlusivite': 1,
 '52m²': 2,
 'anciennement': 1,
 '480': 2,
 'euros': 17,
 'hors': 9,
 'vendu': 20,
 'libre': 3,
 'clarisse': 1,
 'leblanc': 1,
 'cause': 1,
 'mutation': 2,
 'marie': 8,
 'helene': 6,
 'cochet': 6,
 'goût': 16,
 'aucun': 6,
 'jerôme': 8,
 'cortabitarte': 8,
 'thiers': 2,
 '32m²': 3,
 'aurelien': 9,
 'deaut': 10,
 'posez': 6,
 'interesseresidence': 9,
 'plein': 82,
 'loggia': 13,
 'fermee': 7,
 'valerie': 3,
 'chartier': 1,
 'commercial': 21,
 'hall': 6,
 '60m²': 2,
 '5eme': 11,
 'securise': 12,
 'residentiel': 20,
 'bordee': 3,
 'laura': 5,
 'huet': 5,
 'ste': 8,
 'moderne': 9,
 'fonctionnel': 7,
 'travaux': 22,
 'cecile': 4,
 'bussonnais': 4,
 '194': 2,
 'auguste': 1,
 'chevallier': 1,
 'rivieres': 6,
 'chevalerie': 3,
 'equipements': 9,
 'sportifs': 9,
 'milieu': 6,
 'coursimault': 3,
 'interessequentin': 1,
 'fournaise': 1,
 'mezzanine': 4,
 'interesse37200': 1,
 'efficity': 23,
 'immobiliere': 21,
 'estime': 23,
 'ligne': 31,
 'hab': 7,
 '312': 1,
 'accueil': 2,
 'ouvrant': 8,
 'rafraichir': 11,
 'parquet': 20,
 'sureleve': 2,
 '44': 29,
 'julien': 2,
 'threard': 2,
 'vu': 1,
 'bordure': 5,
 'jeremy': 1,
 'cendrier': 1,
 'bergeonnerie': 2,
 'interesseplace': 3,
 'fac': 9,
 'tanneurs': 2,
 'voir': 5,
 'rapidement': 3,
 'sortie': 1,
 'propre': 2,
 'interessece': 14,
 'degagement': 16,
 'chantal': 4,
 'dupont': 3,
 '57': 5,
 'attendre': 1,
 'interessecharmant': 1,
 '86': 4,
 'communs': 5,
 'immediats': 2,
 '58': 2,
 '20eme': 2,
 'avenue': 35,
 'historique': 12,
 '1bis': 2,
 'dote': 2,
 'incontestable': 1,
 'interessebel': 13,
 't5': 26,
 'chru': 1,
 'trousseau': 2,
 'interesselimite': 1,
 'avertin': 6,
 'superficie': 23,
 '59': 3,
 '78': 4,
 'dedie': 2,
 'rangements': 19,
 'laurent': 3,
 'malet': 3,
 'interessetype': 5,
 'verdoyante': 4,
 'profiter': 9,
 'devenir': 1,
 'proprietaire': 4,
 'penderie': 4,
 'ouvert': 7,
 '94': 2,
 'carrefour': 2,
 'emilie': 2,
 'despres': 2,
 'grâce': 8,
 'traversants': 1,
 'commerce': 5,
 'interessede': 3,
 'comprend': 25,
 'bertrand': 3,
 'joubert': 3,
 'prenez': 3,
 'f3': 4,
 'anvers': 1,
 'si': 6,
 'tranquillite': 6,
 'verdure': 8,
 'etant': 2,
 'nicolas': 6,
 'bourin': 5,
 'baisse': 1,
 'fabienne': 4,
 'moyrand': 4,
 'ensoleilles': 1,
 'iii': 7,
 '6eme': 3,
 'baie': 3,
 'vitree': 5,
 'meriglier': 1,
 'montjoyeux': 11,
 'cyr': 20,
 '63': 6,
 'richard': 2,
 'olivron': 2,
 'i': 2,
 'visite': 3,
 'virtuelle': 1,
 'transforme': 5,
 '84m²': 2,
 'elise': 1,
 'branger': 1,
 'apprecies': 1,
 '21m²': 1,
 'recemment': 6,
 'transport': 3,
 'florian': 1,
 '6936': 1,
 'charge': 4,
 'an': 2,
 'interesse37000': 2,
 '65m²': 6,
 'neuvieme': 1,
 '7eme': 1,
 'isabelle': 4,
 'da': 2,
 'silva': 2,
 'liberte': 12,
 'mylene': 1,
 'gautier': 1,
 'offant': 1,
 'maryline': 2,
 'pilet': 2,
 'pres': 8,
 'arthur': 1,
 'talmard': 1,
 '17ieme': 1,
 'renovee': 21,
 'imprenable': 6,
 'odia': 1,
 'keita': 1,
 'quartiers': 3,
 'recherches': 1,
 'etudiants': 3,
 '71': 2,
 'decoration': 10,
 'amenagements': 1,
 'equipe': 8,
 'pion': 1,
 '75m²': 2,
 'hôpital': 10,
 '49m²': 1,
 'joli': 19,
 'interesseproximite': 1,
 'lakanal': 4,
 'toilettes': 5,
 '49': 2,
 '69': 3,
 'cedric': 2,
 'calmebeau': 1,
 'securite': 2,
 '9eme': 2,
 'chaleureux': 2,
 'terrasses': 12,
 'monsoudun': 1,
 'privatif': 15,
 '6660': 1,
 'annee': 3,
 'boulevard': 7,
 'interesset4': 4,
 '55m²': 4,
 'construite': 1,
 'françois': 3,
 'sicard': 2,
 'hauteur': 8,
 'plafond': 12,
 'luminosite': 5,
 'interessecopropriete': 1,
 'min': 27,
 'colleges': 3,
 'ere': 1,
 'audrey': 2,
 'gravelaine': 1,
 '3e': 2,
 'borde': 5,
 'interessehyper': 18,
 'excellente': 2,
 'interesselibre': 1,
 'toute': 5,
 'occupation': 2,
 ...}